[2015-03-02 03:05] bethesque opened #1 "Rename env vars - prepend "PACT_""
BROKER_DB_USERNAME => PACT_BROKER_DB_USERNAME

etc...

[2015-06-02 07:03] uglyog opened #4 "Logs should also be written to file system"
That way `docker logs` will give the logs.

[2015-06-02 07:03] uglyog opened #5 "Make this repo public?"

[2015-06-02 07:08] uglyog opened #6 "Need to bind to 0.0.0.0"
See comment on the docker registry (copied below)

Running this image as is rejects any connections from outside the container:

$ docker ps CONTAINER ID IMAGE COMMAND CREATED STATUS PORTS NAMES ca0d88f95f15 dius/pact_broker:latest “/etc/service/app/ru 5 seconds ago Up 4 seconds 0.0.0.0:80->80/tcp pact-broker 9d159aa8409f postgres:9 ”/docker-entrypoint. 3 days ago Up 58 minutes 0.0.0.0:5432->5432/

[2015-06-16 05:27] #1 closed, assigned to nobody

[2015-06-16 05:28] #6 closed, assigned to nobody

[2015-06-24 01:50] #5 closed

[2015-06-24 01:50] bethesque opened #8 "Can't build - ruby version needs to be upgraded"
Gems do not install with 1.9.3, which is what ruby-full installs.

[2015-07-08 23:53] bethesque commented on #8
Upgraded to base with Ruby 2.2.

[2015-07-08 23:53] #8 closed

[2015-07-08 23:54] bethesque commented on #4
Have changed it to write to stdout instead of the file, but need to set up a log rotate and do some coding to allow it to write to the logs and stdout.

[2015-07-23 16:28] travi opened #9 "build.sh is missing"
The readme references a `build.sh` file but it is not present in the repo. I found the `build_and_publish.sh`, but it seems that it is not intended for the same purpose.

[2015-07-24 01:09] travi opened #10 "unable to load broker ui"
After getting the docker container up and running and connecting to the database, I'm now left with a message of `Not Found: /` (similar for other routes).

I am not very strong with ruby or passenger, so I'm not very sure where to start to debug the issue. `docker logs` shows the database setup and what appears to be successful loading of several components, including the UI.

I have deployed the

[2015-07-25 16:06] IschenkoArtem commented on #10
I have the same issue.
When I launch docker image with port assignment like this `-p 8034:80` then broker responses with `Not Found: /`, though I can see that it successfully migrates DB and I can open HAL browser (that is empty for the same reason).

If I start  docker like this `-p 80:80` than everything works perfectly.

[2015-07-26 23:00] bethesque commented on #10
I discovered this the other day. The docker image needs to be mapped to port 80, otherwise the Rack Map middleware thinks that the incoming request is not for it, and responds with a 404. I do not know if this is a bug in the Rack middlware or not because I wouldn't have thought it should know or care about ports. This is the line that causes it to fail:

https://github.com/rack/rack/blob/master/l

[2015-07-26 23:14] bethesque commented on #9
Use script/test.sh, I've updated the README.

[2015-07-26 23:14] #9 closed

[2015-07-27 14:16] travi commented on #10
Ah, that makes sense. Than you for the responses. It sounds like nginx or similar would be necessary in front of this container. This issue could probably be closed out with an addition to the readme to give consumers a heads up about this situation.

[2015-07-27 23:12] bethesque commented on #10
I've put a note in the readme. If it becomes more of an issue, I'll see whether it is a Rack bug or not.

[2015-07-27 23:12] #10 closed

[2015-10-28 15:03] elgalu opened #19 "LICENSE"
Hi, could you add an open source license? like apache 2.0 for example.
thanks

[2015-10-28 22:39] bethesque commented on #19
Done.

[2015-10-28 22:39] #19 closed

[2015-12-16 22:22] yadavsaroj opened #21 "Support mysql"
Hi,

I was hoping to run pact_broker with mysql and would like to use your base image. However currently it supports only postgres. What do you think about supporting both postgres and mysql? fwict, [this code](https://github.com/DiUS/pact_broker-docker/blob/master/pact_broker/config.ru#L22) is the only one that is database dependent.

Cheers!
Saroj

[2015-12-16 22:53] bethesque commented on #21
Also the postgres gem here: https://github.com/DiUS/pact_broker-docker/blob/master/pact_broker/Gemfile#L4

The adapter could be set via an environment variable. We could add `gem "mysql2"` to the Gemfile as well, and hopefully there would not be any clash between them.

[2016-03-09 09:25] kumarSC opened #22 "Need help with configuration steps ?"
Hi @bethesque and @adamtsis ,

I am an mobile developer spiking out Pact for writing some contracts and found this docker container to setup broker.As a noob to docker and containers, trying to figure out exact steps I need to follow to get broker image up and running.Here are steps I have executed,

1.Installed Docker toolkit.
2.Got my local instance of Postgres DB (Referred POSTGRESQL.md)
2.Exec

[2016-03-09 10:30] neilcampbell commented on #22
Hi @kumarSC,
Below are some instructions that I have sent to a couple of friends that asked a very similar question.
Can we use you as a test candidate for the instructions, as I would like to update the README?

To set it up, you will want to run something like below:
1. Start the PostgreSQL container via
docker run --name pactbroker-db -e POSTGRES_PASSWORD=ThePostgresPassword -e POSTGRES_USER=ad

[2016-03-09 10:44] kumarSC commented on #22
Awesome, I will get going with these instructions and update my findings soon. Thanks for the quick response @neilcampbell .

[2016-03-09 10:48] neilcampbell commented on #22
@kumarSC No problems! Thank you for the reminder, it has been on my list to do this for a while.

[2016-03-14 05:51] kumarSC commented on #22
Hey @neilcampbell ,

Thanks a lot for the details.I was able to get pact broker up and running with Docker images.Something that might create confusion is POSTGRESQL.md talks about setting up a local postgres instance while your instructions advise using a docker image (which worked for me).
Cheers for the good work !

[2016-03-14 23:16] neilcampbell commented on #22
@kumarSC Didn't even know that was there. Thanks for the feedback!

[2016-03-30 13:01] neilcampbell commented on #22
@uglyog What do you think of the above setup instructions? Do you think it's reasonable to recommend running the Postgres instance in a container as well, and remove POSTGRESQL.md?

[2016-03-30 22:53] uglyog commented on #22
I've never actually read the instructions :-D, I've always just run the database in a docker container!

[2016-03-31 01:59] neilcampbell commented on #22
@uglyog Haha me too actually. Thanks for updating!

[2016-03-31 02:01] #22 closed

[2016-06-23 12:06] wburgers opened #24 "Support other port than 80"
Only when mapping port 80 of the docker host to port 80 of the docker container will pact broker work.
This is not ideal, because at our company, we want to be able to run multiple services on a single docker host.
The host should be able to display a default page on port 80 that shows how to request a new service for example.
Not being able to set the port is not really workable.

**EDIT**
I didn

[2016-06-29 10:28] wizardbyron opened #25 "Errors when I build docker image"
[code]

[2016-08-28 19:23] pedrro opened #26 "Error when running test.sh"
Hi guys, I'm trying to build pact-broker on docker, so, I have the postgres running in a container, as I understood, the next step was run the test.sh to create the pact-broker, right?

So, I runned, and it gave me that error:

[code]

It was during the execution of step: **Step 11 : RUN su app -c "cd $APP_HOME && bundle install --deployment --without='development test'"**

Could someone help me?

[2016-08-28 19:37] pedrro opened #27 "Error when follow the instructions of POSTGRESQL.md"
Hi guys, I followed the instructions on postgresql.md:

[code]

Now, my pact-broker is running and I'm able to push a contract to pact-broker, but, when I click on **view pact** button, I got the following stacktrace:

I don't know how to proceed, could someone help me?

[2016-08-29 12:49] pedrro commented on #27
I got the error here, it was beause the enconding, on my pact, I had some works with í or ç, so, when try to visualize, it brokes

[2016-08-29 12:49] #27 closed

[2016-11-23 15:27] neilsyrett opened #29 "Error when starting pactbroker docker container"
I have installed and configured the PostgresSQL DB in a Docker container (pactbroker-db) as per the instructions in POSTGRESQL.md and created the pactbroker Docker container (pactbroker) but when I come to start the pactbroker I receive the following error.  Can you offer any advice?

$ docker start --attach pactbroker
*** Killing all processes...
Traceback (most recent call last):
  File "/sbin/m

[2016-12-02 03:35] notyy commented on #29
I have same problem.
the last line is

any hint on how to solve this?

[2016-12-29 04:56] uglyog commented on #24
This issue has been fixed, and the latest image on docker hub should work.

[2017-01-14 19:50] pedrro commented on #29
Try to use the docker compose version: https://github.com/brancz/pact_broker_pg_docker

[2017-04-17 05:01] shashidesai opened #30 "Add docker-compose"
* Push pact-broker images to docker-hub.
* Add docker-compose file to the repo for better setup.

Just thought this would make the setup easier and if we had official images pushed to docker-hub.

[2017-04-17 23:59] bethesque commented on #30
@mefellows , @uglyog, I'm so behind on docker. Is there someone in Dius who we can ask to do this?

[2017-04-18 00:01] uglyog commented on #30
I'll be in on Monday, so I can look into doing this. Otherwise, someone on the bench could help.

[2017-04-18 00:10] bethesque commented on #30
Will ask Leanne.

[2017-04-18 00:12] shashidesai commented on #30
there are few docker images pushed by others onto docker-hub (https://hub.docker.com/search/?isAutomated=0&isOfficial=0&page=1&pullCount=0&q=pact+broker&starCount=0) but if we had official images via pact-foundation, then it would be better.

[2017-04-18 00:14] bethesque commented on #30
Isn't it this one? https://hub.docker.com/r/dius/pact_broker/

[2017-04-18 00:17] shashidesai commented on #30
oops my bad, I meant images exist, but I think I had some issue with this image, so used some other repo which had docker-compose setup instructions which was easier and faster.

[2017-04-18 00:35] bethesque commented on #30
Can you remember what the issues are so that we can fix them? Which one did you end up using?

[2017-04-18 00:38] mefellows commented on #24
Can we close this then?

[2017-04-18 00:39] shashidesai commented on #30
@bethesque - It was probably my issue as I couldn't figure out setup instructions and I ended up using this repo as they had proper instructions using docker-compose (as we were using docker-compose for our project) I ended up using this repo - https://github.com/brancz/pact_broker_pg_docker

[2017-04-18 00:40] mefellows commented on #30
I recall #24 being an issue, but that seems to be fixed now. I can probably take a look at this.
We can add a Docker compose file, it's very simple.

[2017-04-18 02:46] shashidesai commented on #30
@mefellows - I have created a PR and attached the error I see when I try to use https://hub.docker.com/r/dius/pact_broker/ image.

[2017-04-18 05:23] mefellows commented on #30
Thanks, as discussed, once the corrections have been made to the PR we'll bring in.

[2017-04-18 05:56] shashidesai commented on #30
@mefellows - next time will try to do a better job at adding docs !

[2017-04-18 06:01] mefellows commented on #30
No worries, and thanks again :)

[2017-04-18 06:01] #30 closed

[2017-05-02 11:24] liamawhite opened #32 "Turn on basic auth?"
I've had a look through this repo and the actual broker repo and can't seem to find instructions to turn on basic auth and set the credentials for the broker (as opposed to the database user/pass). I am guessing its going to be something to do with `pact_broker/config.ru`?

[2017-05-03 05:41] bethesque commented on #32
@mefellows we'll need to do a code change for this as per https://github.com/bethesque/pact_broker/blob/master/example/basic_auth/config.ru#L7

We can make it configurable based on the presence of the environment vars, eg

[code]

[2017-05-03 07:14] mefellows commented on #32
Yeah I think something like that would be ideal. Potentially down the track there could be a way to pass in a configuration file (similar to an Apache `.htaccess` file) so that it's not a single all-knowing user.

Long term, we would look at OAuth/SAML etc. But this will probably more appropriately live in pact.dius.com.au.

[2017-05-03 08:37] bethesque commented on #32
Agreed, it's a short term quick fix solution. We need to put proper auth into the hosted ones.

[2017-05-03 09:50] bethesque commented on #32
Question - should the basic auth apply to the healthcheck URL?

[2017-05-03 09:51] mefellows commented on #32
Good question. My initial thoughts are to make it unauthenticated.

On Wed, May 3, 2017 at 7:50 PM, Beth Skurrie <notifications@github.com>
wrote:

--
Matt Fellows
- http://www.onegeek.com.au/

[2017-05-12 18:35] liamawhite opened #33 "Idiomatic port assigning"
With the caveat that I'm completely new to ruby. How would I assign a non-default port in the `config.ru` using env vars?

[code]

Whenever I set a custom env var it isn't picked up and the code above prints
`postgres://user:password@host:/database` (without the port passed in via docker)

This may be some ruby nuance but I would expect to see a correctly formed url there, but any custom env var (

[2017-05-15 03:02] bethesque commented on #33
You need to add it to container/etc/nginx/main.d/pactbroker-env.conf for it to be loaded into the nginx process.

[2017-05-15 03:27] bethesque commented on #33
https://github.com/DiUS/pact_broker-docker/commit/72911145ccb54810fb8be0838560af91a2a83eb2

[2017-05-15 03:27] #33 closed

[2017-05-15 04:26] bethesque commented on #32
It was too fiddly! Everything is basic authed, or not for now.

https://github.com/DiUS/pact_broker-docker/commit/eb89b61e7a081b9f717852d7b574ae372af308f8

[2017-05-15 04:26] #32 closed

[2017-05-21 22:43] bethesque opened #34 "Check if we need to upgrade the OS inside the container"
From https://github.com/phusion/passenger-docker#upgrading-the-operating-system-inside-the-container
-------------------------------------
Upgrading the operating system inside the container

passenger-docker images contain an Ubuntu 16.04 operating system. You may want to update this OS from time to time, for example to pull in the latest security updates. OpenSSL is a notorious example. Vulnerab

[2017-05-23 21:18] iamdavidfrancis opened #35 "404 Not Found when trying to load Pact Broker"
Hi, I'm trying to get the pact broker working, but when I run the container I get a 404 page from nginx. I would appreciate some guidance on this.

![image](https://cloud.githubusercontent.com/assets/539365/26376740/784c8dea-3fc2-11e7-8d1c-55199788cdf4.png)

I've attached part of the logs:

[code]

[2017-05-23 23:17] bethesque commented on #35
Hm. That's strange. It's never had an index.html, so I'm not sure why it's complaining now. I'm running it locally, and if I hit `http://192.168.99.100` I get redirected to `http://192.168.99.100/ui/relationships`. Can you hit the ui/relationships path?

[2017-05-23 23:24] bethesque commented on #35
Are you running something in front of it that is trying to hit robots, favicon and index?

[2017-05-24 00:01] iamdavidfrancis commented on #35
The browser will automatically hit favicon and index, not sure about robots.

ui/relationships also returns a 404

[2017-05-24 00:06] mefellows commented on #35
That `robots933456.txt` request looks really suspicious.

[2017-05-24 00:08] bethesque commented on #35
Are there any other errors in the logs? None of those errors explain why you're getting 404 for paths that actually should exist.

[2017-05-24 00:10] iamdavidfrancis commented on #35
No, there's nothing else.

[2017-05-24 00:11] bethesque commented on #35
How are you running it?

[2017-05-24 00:11] iamdavidfrancis commented on #35
It's running on an Azure App Service instance

[2017-05-24 00:12] mefellows commented on #35
Does that mean it's publicly accessible? That would explain the suspicious
looking traffic.

On Wed, May 24, 2017 at 10:11 AM, David Francis <notifications@github.com>
wrote:

--
Matt Fellows
- http://www.onegeek.com.au/

[2017-05-24 00:13] iamdavidfrancis commented on #35
Yes, it's publicly accessible, but the robots file is being requested every time index.html is.

[2017-05-24 00:15] bethesque commented on #35
I'd say you need to look to the Azure docs for help.

[2017-05-24 00:16] iamdavidfrancis commented on #35
I've been through them. I was hoping you might have some more information that could help me. It's alright if you can't, I'll keep looking.

[2017-05-24 00:28] bethesque commented on #35
What happens if you docker exec into the container and `curl http://localhost`?

[2017-05-24 00:49] iamdavidfrancis commented on #35
Okay, I figured out the problem. We had the wrong IP whitelisted on the postgres server. It's working now.

[2017-05-24 00:49] #35 closed

[2017-05-24 00:50] iamdavidfrancis commented on #35
Thanks for the help though.

[2017-05-24 00:51] bethesque commented on #35
👍

[2017-06-02 06:33] #29 closed

[2017-06-02 06:33] #26 closed

[2017-06-02 06:34] #24 closed

[2017-06-02 06:34] #25 closed

[2017-06-03 02:26] zharvey-welltok opened #38 "Recommended version of PostgreSQL?"
Hi, looking at Docker's [official PostgreSQL repo](https://hub.docker.com/_/postgres/) I'm seeing a wide variety of supported tags ranging from 9.2.* to 9.6.*.

Just wondering: **Is there a recommended version of Postgres that the community has for this Docker image?**

[2017-06-03 06:06] bethesque commented on #38
The safest one to use would be the version that travis-ci installs by default, as that's the one that the tests run against. According to their [documentation](https://docs.travis-ci.com/user/database-setup/) "The Travis CI build environments use version 9.1 by default".

We should possibly look at upgrading that if the docker containers start at 9.2.

[2017-06-03 06:20] bethesque commented on #38
Ok, I tried out travis with 9.6 and it [blew up](https://travis-ci.org/pact-foundation/pact_broker/jobs/239012060) (travis configuration problem, not a code problem) so I tried with 9.5, and it [passed](https://travis-ci.org/pact-foundation/pact_broker/builds/239012781), so I'd say that we officially support 9.5. Having said that, I know 9.6 works because that's what I'm running locally ;)

[2017-06-03 11:18] zharvey-welltok commented on #38
Thanks @bethesque ! Appreciate the follow-through!

[2017-06-03 11:18] #38 closed

[2017-06-04 10:41] itsmenandess opened #39 "pact_broker Changes"
Hi,

Is this changes are updated in this pact_broker-docker project?
"https://github.com/DiUS/pact_broker-docker"

Changes in pact_broker:
https://github.com/pact-foundation/pact_broker/blob/master/CHANGELOG.md

Thanks

[2017-06-04 10:43] mefellows commented on #39
Looks like we are two micro versions behind. (`2.0.2` vs `2.0.4`).

[2017-06-04 15:19] itsmenandess commented on #39
Can i get latest update pact_broker-docker project?

[2017-06-04 22:06] mefellows commented on #39
Just pushed an update, build should be up within the next ~30 mins or so (Docker Hub will do it automatically).

[2017-07-16 04:57] #39 closed

[2017-07-20 16:23] stemlaur opened #44 "Pact broker images not versioned"
The available images of https://hub.docker.com/r/dius/pact-broker/ are all tagged LATEST which makes impossible to rollback when a regression exists on a new version.

It would be nice to have a versions on docker hub to be able to have reproductible deployments of pact-broker.

[2017-07-20 22:52] bethesque commented on #44
Good point, we'll add it to the script.

[2017-07-31 02:02] bethesque commented on #44
Releases are now made using `script/release.sh`. This tags the docker image using the format `$PACT_BROKER_GEM_VERSION-$RELEASE`.

https://github.com/DiUS/pact_broker-docker/commit/c1b764ff270ebdd4e6a248474ab18228c13a7a40

[2017-07-31 02:02] #44 closed

[2017-07-31 02:03] bethesque commented on #21
Mysql is now supported.

[2017-07-31 02:03] #21 closed

[2017-09-14 16:44] MrOutis opened #46 "Can't run the example with the provider docker-compose"
This is the error:
[code]

[2017-09-14 17:00] MrOutis opened #47 "Why using the Passenger image instead of a Ruby one?"

[2017-09-14 21:46] MrOutis commented on #46
I downgraded the image to the `2.4.0-2` and is working as expected.

[2017-09-14 23:08] bethesque commented on #46
Ah, sorry. I fixed that ruby error in the gem, but need to push the latest docker image.

[2017-09-14 23:09] MrOutis commented on #46
thanks, @bethesque, I'll close this, then.

[2017-09-14 23:09] #46 closed

[2017-09-14 23:14] bethesque commented on #46
Hm. I'm a bit confused. 2.4.0-2 should BE the latest. It's after 2.4.0-1. Not sure what's going on with the tags.

[2017-09-14 23:17] bethesque commented on #46
Oh, right. 2.4.*2*, not 2.4.*0*.

[2017-09-14 23:22] bethesque commented on #47
Because it comes with the Passenger web application server already installed on it.

[2017-09-14 23:32] bethesque commented on #46
I am able to run docker-compose up with the latest. Not sure why there is a difference, because the fix for that require was made before I released 2.4.2.

[2017-09-15 00:09] MrOutis commented on #46
super weird, @bethesque, in my local machine is running correctly but running it on a Digital Ocean droplet (with Docker engine pre-installed + docker-compose as a container) is throwing the error.
Is running with the latest version, indeed.

[2017-09-15 00:27] MrOutis commented on #47
mhm, interesting, I'll give it a try.

[2017-09-15 00:27] #47 closed

[2017-09-15 00:54] bethesque commented on #46
We've found some orchestrated environments, they don't refresh the "latest" if they already think they have the "latest". Try pulling it in by the named tag `2.4.2-2`.

[2017-10-12 22:24] bethesque opened #48 "Add local shields.io server to docker image"
Like: https://github.com/beevelop/docker-shields

This will speed up responses, and prevent the broker being rate limited.

[2017-10-13 01:56] bethesque opened #49 "Update base image to latest passenger and use ruby 2.4"

[2017-10-26 20:28] #49 closed

[2017-10-30 06:28] shashidesai opened #52 "Check if its possible to reduce the docker image size of pact broker ?"
* Current docker image size of **dius/pact-broker** = **819MB**

The postgres docker image used with pact broker is just 270MB. So relative to that pact broker seems to be on the heavier side.
Was wondering if its possible to reduce the docker image size for pact broker ?

[2017-10-30 08:09] bethesque commented on #52
That does seem ridiculous! There's not that much going on in it. I wonder if it's all the extra rubies that come installed with phusion-passenger.

[2017-10-30 08:17] bethesque commented on #52
I'm assuming the 819MB you quote above is the uncompressed size.

The compressed size of the ruby passenger base image is [244MB](https://hub.docker.com/r/phusion/passenger-ruby24/tags/). The compressed size of the pact-broker image is [294MB](https://hub.docker.com/r/dius/pact-broker/tags/). So the bulk of it comes from the base image. I'm not a docker expert, so I'm happy to take a PR if you cou

[2017-10-30 08:21] bethesque commented on #52
This might contain some useful info: https://semaphoreci.com/blog/2016/12/13/lightweight-docker-images-in-5-steps.html

[2017-10-30 17:05] shashidesai commented on #52
@bethesque - I am not aware of the ruby world, but I could give it a shot. if you have any links which I could use, please do let me know.
I can take this up if its fine with you guys ?

[2017-10-30 22:34] bethesque commented on #52
That would be awesome, thanks! I

[2017-11-02 19:25] mattermack opened #53 "Can't spin up pact_broker-docker:latest, 2.7.0.beta.2-1, or 2.7.0.beta.3-1"
Following https://github.com/DiUS/pact_broker-docker/issues/46, I got a fresh docker install of 2.4.0-2.

For latest, 2.7.0.beta.2-1, or 2.7.0.beta.3-1, I repeatedly ran into ...

Could not spawn process for application /home/app/pact_broker: An error occured while starting up the preloader.
`Error ID: 66ef0932
  Error details saved to: /tmp/passenger-error-xHOaHz.html
  Message from application:

[2017-11-02 21:48] mattermack commented on #53
"Have a look at the releasing.md file, and try running the test script." ... going to try that.

[2017-11-02 22:25] bethesque commented on #53
Not sure why I'm not getting the error, but there is a missing require. I'll add it and do a new release.

[2017-11-02 22:56] bethesque commented on #53
I've just pushed 2.8.0.beta.4 (accidental minor version bump because I was too late on the ctl+c for the default release script and accidentally committed the change). Let me know how it goes. I'll be putting out a new version of the CL and broker in the next few days with some improvements. There will be breaking changes as the features are in beta, so just grab the latest versions of everything

[2017-11-02 23:01] bethesque commented on #53
FYI, currently, you have to say `can-i-deploy` and specify all the dependencies. I'm working on a `can-i-deploy` where you just give the one pacticipant/version and it works out the dependencies for you.

[2017-11-13 16:31] omazilov opened #54 "Anonymous access with if BA is enabled"
There are no possibility to use pact-broker with anonymous access if Basic Auth is enabled

[2017-11-13 22:18] bethesque commented on #54
You'll need to build your own docker image. I would fork the dius repo, and the modify the `pact_broker/basic_auth.rb` file.

Change

[code]

to this:

[code]

[2017-11-13 22:24] bethesque commented on #54
As mentioned on gitter, there is currently no support for user management. However, if you wish to give every user their own account, you should look up how to set up password authentication with nginx.

[2017-11-17 11:00] bluehallu opened #55 "Port different than 80 still not working"
Expected behaviour:

I can map the internal port to any external port that I want with docker

Actual behaviour:

Mapping to anything else than 80 causes Rack to refuse the connection

Versions tested:

Latest, 2.11.0-1

Related issues:

https://github.com/DiUS/pact_broker-docker/issues/24
https://github.com/DiUS/pact_broker-docker/pull/17
https://github.com/DiUS/pact_broker-docker/pull/11

[2017-11-18 01:29] bethesque commented on #55
Have you modified the port that nginx is listening on?

I changed the `listen` from `80` to `8080` in webapp.conf, and set the `PACT_BROKER_PORT` env var to `8080` (not sure if this was required) and then ran script/test.sh. The test script failed because it was still set to make the request on port 80, but when I went to the browser and loaded `localhost:8080`, the broker was running fine.

# con

[2017-12-07 11:22] DerKnecht commented on #52
I'm sure you guys, especially shashidesai, already know this, but in most cases you should prefer the COPY command over ADD.
https://www.ctl.io/developers/blog/post/dockerfile-add-vs-copy/

[2017-12-07 21:58] bethesque commented on #52
I'm a total docker rookie. Very happy to accept PRs from people who know more than I do.

[2017-12-07 23:58] k-ong commented on #52
the pact-broker is built from the phusion passenger container:
phusion/passenger-ruby24:0.9.26 is at 659MB uncompressed.

It definitely seems to be on the heavier side, but comparing it to the postgres image is slightly misleading.

[2017-12-08 00:09] shashidesai commented on #52
Yep, I get that comparing it to postgres is slightly misleading but for a small app like pact broker I thought 819MB was too large an image.
I was trying to experiment by not using the phusion/passenger image (which is already heavier), let me know what you think about that ?
If it doesn't make sense, then we could skip and close this issue ?

[2017-12-08 07:26] DerKnecht commented on #52
This indeed makes sense. I would like to have a lightweight docker image, too.
The phusion is based on ubuntu, which is kinda heavy.
I would suggest something which is somewhat time-consuming but a one time job:
Based on Alpine or Debian creating an minimalistic image with only the dependencies that are needed for pact broker. (Alpine is about 5MB or so...) I'm not a docker pro, though I have read

[2017-12-08 20:07] shashidesai commented on #52
@DerKnecht - thanks for the insightful info.

[2017-12-09 04:30] k-ong commented on #34
Looking into this as part of https://github.com/DiUS/pact_broker-docker/issues/52. Upgrading the OS packages especially security updates would be advisable but uncompressed image sizes tend to hit 1.0Gb to 1.1Gb for ubuntu systems.

[2017-12-10 20:32] bethesque commented on #52
I'm all for making the image as small as possible, but I'm curious as to what the impact is of the larger one, given that it only gets updated every few weeks or so at the moment. Can someone explain the use case? Just to let you know, this is not something I have time to work on at the moment (every bit of spare time I have goes to PB features), but I'm very happy to accept PRs.

[2017-12-10 20:46] shashidesai commented on #52
It's not much of an issue, it was just an observation. Anyway it's not that we download the image every now and then. Once it's setup and deployed, we don't need to update the image unless there is an update.
I understand about your time, as this is not a priority right now, that's the reason I mentioned I can pitch in for it as it's not something urgent and can be done at leisure time.

[2017-12-11 00:16] mefellows commented on #52
FWIW you could take a look at https://github.com/pact-foundation/pact-mock-service-docker/blob/master/Dockerfile and https://github.com/DiUS/pact-provider-verifier-docker/blob/master/Dockerfile for inspiration (we converted them to Alpine and delt with the Ruby issues).

The broker image is a little more complicated with Nginx etc., so if time permits we can look into it but as Beth said, it's not

[2017-12-11 01:11] k-ong commented on #52
I agree it does have some complexities around Nginx as we probably need to compile from source.
and with that said, I might be doing something wrong but my image with alpine is growing to ~600Mb :(

I will be grateful to see if others have done a better job :)

[2017-12-11 10:40] k-ong commented on #52
wip broker docker image with alpine: https://github.com/DiUS/pact_broker-docker/tree/broker-alpine

the image however, is sitting at 742Mb. will now attempt to slim it down but also looking for feedback/comments

[2017-12-11 13:05] mefellows commented on #52
Having spent a lot of time working with Docker I've seen the community go back and forwards between small (read: Alpine) and mature (eg Debian).

I like small, but I also like well tested, high performance, and easy to understand (and therefore contribute).

This shouldn't stop any efforts to reduce the size, but we should approach with open eyes. A lot of people use this image and phusion passeng

[2017-12-11 22:43] bethesque commented on #52
We could always keep the smaller image on a fork and release it with a separate tag to give people the option.

[2017-12-12 04:03] k-ong commented on #52
after continued work on the alpine version of the pact broker, I do not believe that the effort is justifiable for an image in alpine. The alpine image not much smaller than it's ubuntu counterpart and could be due to the fact that we have to compile nginx and passenger from source.

the complexity and effort of maintaining the nginx and phusion passenger compilation and installation far outweighs

[2017-12-12 14:10] DerKnecht commented on #52
@k-ong how much space does the ruby:2.4-alpine take? I couldn't find it in dockerstore.
"2.4.2-alpine3.6" has 33 MB.
I really wonder what exactly makes our image so heavy. Is this just from nginx and passenger?

Though it's true that this seems to be much more effort that is needed for some MB than thought. mefellows is also right that we also should have a look at potential losses in functionalit

[2017-12-18 15:35] dervism opened #56 "Docker tag 'latest' does not point to latest version"
The 'latest' tag needs to be updated to version 2.11.0-1. Currently it's behind:

https://hub.docker.com/r/dius/pact-broker/builds/

When running the Docker-Compose example, the startup fails. Setting the tag to 2.11.0-1 and everything runs ok:

[code]

[2017-12-18 20:43] bethesque commented on #56
Thanks, I've fixed the regular expression in the build settings. I've released 2.12.0-1/latest.

[2017-12-18 20:44] #56 closed

[2018-01-11 09:39] steam0 opened #57 "Pact-broker will not start on Kubernetes with Google Cloud"
I am trying to start the docker image on Google Cloud using Kubernetes.

I am however enountering a problem where runit cannot start new services because of a missing file.

[code]

The line in questions is `[pact-broker] warning: /etc/service/nginx-log-forwarder: unable to open supervise/ok: file does not exist`.

This error does not happen if I try to launch the application locally on my compute

[2018-01-11 21:53] mefellows commented on #57
Hi @steam0, I can't see anything immediately wrong with your configuration, however I will say that it definitely works on Kube as we use Kube to run our hosted [Pact Broker service](http://pact.dius.com.au).

I'm guessing this is on GCE?

That looks like a non-fatal error, does the app still start? Are you able to provide the entire log file too?

[2018-01-17 16:45] steam0 commented on #57
I don't know why it would not start, but as of now it will _not_ start on first apply. But when I upgrade my configuration and pods are restarted, it starts just fine.

[2018-01-17 16:46] steam0 opened #58 "How to run pact_broker-docker with https"
I cannot find any documentation on how to run the pact-broker with https? Is it possible to create a guide for this?

[2018-01-18 21:54] bethesque commented on #58
I think this may help you https://github.com/pact-foundation/pact_broker/wiki/Configuration#running-the-broker-behind-a-reverse-proxy

I believe the HTTPS part would be implemented by running a reverse proxy in the docker host, and configuring it as documented in the link above, but @k-ong may correct me on that.

[2018-01-18 21:58] bethesque commented on #57
Any further thoughts on this? I'll close it unless we have an outstanding action. We can always reopen if need be.

[2018-01-18 21:59] bethesque commented on #55
I'm closing this due to lack of response, but please reopen if it is still an issue. It would be good if you could confirm if this worked or not for future users.

[2018-01-18 21:59] #55 closed

[2018-01-18 22:36] mefellows commented on #58
The reverse proxy can sit anywhere, either co-hosted in the same container or in another container, but needs the headers as per your link.

Perhaps worth adding a working nginx configuration for example? I can try and add this for clarity.

[2018-01-18 22:49] bethesque commented on #58
Yeah, that would be awesome.

[2018-01-18 22:49] bethesque commented on #58
Also, for this issue: https://github.com/pact-foundation/pact_broker/issues/178#issuecomment-357881549

[2018-01-18 23:44] mefellows commented on #58
OK, just created a working nginx config, that proxies the docker-compose setup in this project:

1. Create the SSL cert:

sudo openssl req -x509 -nodes -days 365 -newkey rsa:2048 -keyout nginx-selfsigned.key -out nginx-selfsigned.crt

*Nginx config*:

[code]

Curling the nginx proxy host yields properly mapped https endpoints:

[code]

Curling the docker-compose setup directly yields non-http URLs

[2018-01-19 00:04] bethesque commented on #58
Awesome. I'll put a link to it from the vanilla pact broker docs.

[2018-01-19 00:04] mefellows commented on #58
FYI I added a link to the config page referenced above.

[2018-01-19 05:21] steam0 commented on #57
Something is definitely wrong with the image and how I am running it on GCE. But since I don't know what, then let's just close this off for now. Maybe someone else finds it later and have a solution.

[2018-01-19 05:34] bethesque commented on #57
Ok, fingers crossed!

[2018-01-19 05:34] #57 closed

[2018-02-02 14:33] wideklev opened #60 "Run pact broker in a subfolder"
Running pact-broker in our kubernetes environment and works very well and have managed very nicely to deploy it using our own helm template.

The downside is that with our template all our service are deployed in a subfolder.

All links in the pact broker are referenced with the urls starting with / which makes all links broken.

It would more reliable if all links including css and js to be relat

[2018-02-03 02:06] bethesque commented on #60
I can't quite understand your set up from your explanation above. Are you talking about the URL paths, or the file paths? Can you give me some text examples please.

[2018-02-05 08:13] wideklev commented on #60
We are deploying the pact-broker in a subfolder:
So our url would be something like: example.com/pact-broker:
In that context the urls are still:

`<link href='/css/bootstrap.min.css' rel='stylesheet'>
  <link href='/stylesheets/index.css' rel='stylesheet'>
  <script src='/javascripts/jquery-2.1.1.min.js' type='text/javascript'></script>
  <script src='/javascripts/jquery.tablesorter.min.js' type=

[2018-02-06 05:08] bethesque commented on #60
Yep, it belongs in the pact_broker project. I don't have time to look at it right now, but if you know where to make the changes (and they look quite simple) I'm happy to accept a PR.

[2018-02-14 12:12] DerKnecht opened #61 "Dockerfile does not work for OpenShift image ruby-23-rhel7"
I'm trying to run pact_broker-docker on OpenShift for several days now, but I have to use the ruby-23-rhel7 image (or another OpenShift ruby image...). Of course that makes everything a bit more complicated.
Maybe it's possible for you to provide a Dockerfile for an OpenShift image (e.g. for ruby-23-rhel7)?
It seems I'm not talented enough to create one by my own.

[2018-02-15 02:49] bethesque commented on #61
I feel like there was someone else who was trying this. I'll see if I can find out who it was.

[2018-02-15 02:53] bethesque commented on #61
Yes, I've found them. https://gitter.im/realestate-com-au/pact?at=5a5496e96117191e61432b55

@jawu are you able to send us your docker file so we can make a build on docker hub for it?

[2018-02-15 11:22] jawu commented on #61
@bethesque sure, here it is:

`FROM 1and1internet/ubuntu-16-nginx-passenger-ruby-2.3
ENV APP_HOME=/home/app/pact_broker/
RUN apt-get update && apt-get install libpq-dev --yes && \
    rm -f /etc/service/nginx/down /etc/nginx/sites-enabled/default

COPY container /
RUN gem update --system
COPY pact_broker/config.ru pact_broker/Gemfile pact_broker/Gemfile.lock $APP_HOME
RUN chgrp -R 0 $APP_HOME && c

[2018-02-15 21:00] bethesque commented on #61
Thanks @jawu. Let me know how it goes @DerKnecht, and I'll make Docker build for it.

[2018-02-16 10:57] DerKnecht commented on #61
Thank you for your assistance. I don't like to bother you much, but I don't know the exact configuration of my OpenShift and I have no influence on it and it seems I have several other problems with my configuration or something. So this could be a bigger deal.
I have a .yaml-file for configuration and I don't know whether it's even possible and how to use the image "1and1internet/ubuntu-16-nginx-

[2018-02-18 22:11] bethesque commented on #61
I would imagine that the name and namespace configuration above should be pointing to the name of the image that you built from the customized dockerfile. However, I know nothing about OpenShift, so take that with a grain of salt.

[2018-02-18 22:42] mefellows commented on #61
`ruby:latest` certainly looks to be the name of a docker image

[2018-02-19 07:47] DerKnecht commented on #61
I tried some things now...
But it seems my OpenShift can't find that image.

[code]

I actually fear I have to use something like ruby-23-rhel7 and install passenger and nginx by my own. Also I'm sure that would take like an eternity... I would like to avoid that, so I'm trying to contact someone who has more experience with our OpenShift environment to find out more. I will let you know.

[2018-02-19 15:56] DerKnecht commented on #61
@jawu can you provide some more informationen about what exactly you do to make it run on OpenShift? I see your Dockerfile... you put it as it is on your OpenShift and it just works?
I expected a CMD-line as last line in your Dockerfile. I don't know which script I have to execute to make the pactbroker run on OpenShift.

[2018-02-19 17:50] jawu commented on #61
The idea is, that someone of the pact team builds the image and pushes it to docker hub. Than you could load it from there and it will run out of the box, if you pass in the documented environment variables. But you must be sure, that you are able to pull images from docker hub. This question can only answer someone out of your team.

[2018-02-19 22:09] bethesque commented on #61
I've created an openshift docker image from the dockerfile content you created @jasaw, thanks. The docker repo is here: https://hub.docker.com/r/dius/pact-broker-openshift/ The build hasn't finished yet, so hopefully it succeeds...

[2018-02-20 18:11] jawu commented on #61
@bethesque It looks like the tests are executed and the --without flag is not interpreted during build.

[2018-02-21 07:18] DerKnecht commented on #61
@bethesque as there is a line in the Dockerfile of this repository
`CMD ["/sbin/my_init"]`
and I can't find a file named "my_init" in the project - can you provide something like an example what should be in that "my_init"? I would expect a script that starts up the pactbroker but I'm wondering how that could look like.

[2018-02-21 22:31] bethesque commented on #61
That my_init thing is a passenger thing. If you have a google for "passenter my_init" you should find some docs about it. Otherwise, `docker exec -it` into your docker container and see if you can find it.

[2018-02-21 22:31] bethesque commented on #61
You shouldn't have to modify it.

[2018-02-22 00:29] bethesque commented on #61
@jasaw I can't work out why it can't find bundler

[code]

[2018-02-22 01:37] jasaw commented on #61
@bethesque Did you mean to address the comment to @jawu ?

[2018-02-22 02:56] bethesque commented on #61
So sorry! Typo. @jawu, please see above comment.

[2018-02-22 05:03] bethesque commented on #61
Weird. We haven't made any changes to the default Dockerfile and that one is failing for the same reason too now (though the previous one passed)

[2018-02-22 11:33] jawu commented on #61
The same problem exists on both docker builds?

[2018-02-22 22:35] bethesque commented on #61
I rebuilt the master one and is passing again, without me having changed anything. Sigh!

The openshift one is still failing.

Does your internal build still work?

[2018-02-23 10:32] DerKnecht commented on #61
While it's true I don't have to modify it, though this is a precious information for setting up an image on base of ruby-23-rhel7. Thank you!

[2018-02-23 10:38] jawu commented on #61
@bethesque I will check our internal docker build on monday.

[2018-02-25 22:30] bethesque commented on #61
Thanks @jawu, that would be greatly appreciated.

[2018-02-26 09:09] bethesque opened #64 "Turn show exceptions off"

[2018-02-27 18:13] jawu commented on #61
@bethesque I have the same error on our build.

[2018-02-27 20:00] bethesque commented on #61
Did it use to work? Has something changed to break it, and do you know when it broke?

[2018-03-09 03:03] jaimeniswonger commented on #61
I was able to run the pact-broker on Openshift by using the Ruby s2i builder... I have attached an Openshift template.  Obviously, you will need to run a Postgres container as well...this template sets the needed environment variables in the "dc"...modify them as needed for your postgres configuration.

[2018-03-09 03:56] bethesque commented on #61
Thank you @jaimeniswonger! So we don't need a custom docker image for Openshift then?

[2018-03-09 17:43] jawu commented on #61
So there is no manipulation of the open-shift-dockerfile nedded?

[2018-03-09 20:39] jaimeniswonger commented on #61
Correct... I was able to use the attached template to create a pact-broker container on Openshift 3.7...the standard s2i process works (no Dockerfile needed).  I am NOT able to run it on Openshift 3.6, but not sure why yet... still looking at this.

[2018-03-12 07:47] crea1 opened #65 "Make heartbeat url unprotected by basic auth"
Hi guys!

We're using this docker image on Amazon ECS, which wants an URL for healtchecking the container. We turned on basic auth, and it seems the healtcheck url is behind basic auth https://pact-broker.example.com/diagnostic/status/heartbeat. For me it meant the container never became healthy (401).

I found a workaround and used this url for a badge, which returns a 200 even though the pact is

[2018-03-12 08:30] bethesque commented on #65
Yeah, I ended up doing this myself on a custom image I made for a client. I was wondering about making it configurable?

[2018-03-12 09:19] bethesque commented on #65
Try this: https://github.com/DiUS/pact_broker-docker/commit/a3d8fb8efb13ca80f38dcdc6ef80bd5cf9cffe7f in 2.16.1-2

[2018-03-12 11:46] crea1 commented on #65
Thank you for responding so quickly @bethesque ! 👍

Yeah, make it configurable probably is the best solution. I've tried it in our AWS account, but unfortunately it doesn't seem to come up correctly, I also noticed the build broke.

https://travis-ci.org/DiUS/pact_broker-docker/builds/352237498

[2018-03-12 21:22] bethesque commented on #65
"It worked on my machine!"

Let me have a look.

[2018-03-12 23:48] bethesque commented on #65
I should never code at night. What was going on there Beth? It's fixed now. Grab the new latest (2.16.1-3)

[2018-03-13 06:48] crea1 commented on #65
Haha 😀 Been there myself.

It works like a charm now. ECS is happy and I am happy, and thank you so much for your help Beth! 👏

[2018-03-13 07:14] bethesque commented on #65
No worries. Glad it works.

[2018-03-13 07:14] #65 closed

[2018-03-14 20:52] itsmenandess opened #67 "@bethesque , Any help on nginx ? or can i get without nginx configuration docker image in separate branch?"
Our Kubernetes Team increased the security level blueprint 1.7.2. So our current deployment getting failed. i am not able to sort out it further.

Running /etc/my_init.d/00_regen_ssh_host_keys.sh...
Running /etc/my_init.d/30_presetup_nginx.sh...
Running /etc/rc.local...
Booting runit daemon...
Runit started as PID 11
ok: run: /etc/service/nginx-log-forwarder: (pid 21) 0s
chown: changing ownership

[2018-03-14 21:40] bethesque commented on #67
I'm sorry @itsmenandess, this problem pertains to nginx, rather than the pact broker code. You'd be best asking this question in an nginx forum, as I'm afraid I am no nginx expert. It's possible that @mefellows may have some idea.

[2018-03-14 21:52] mefellows commented on #67
@itsmenandess the nginx configuration is very configurable. You can simply replace the configuration with your own, or augment it, with the usual docker volume/file sharing mechanisms. In fact, _you could completely disable it and bypass it altogether_ with a little effort.

Look at the [source code](https://github.com/DiUS/pact_broker-docker/blob/master/container/etc/nginx/sites-enabled/webapp.co

[2018-03-14 21:52] #67 closed

[2018-03-15 13:50] jaimeniswonger commented on #61
The template at https://github.com/jaimeniswonger/pact-broker-openshift works on both Openshift 3.6 and 3.7.  It creates a postgres db as well...hope this helps someone.

[2018-03-15 22:13] bethesque commented on #61
Thanks! We'll put a link to it in our docs.

[2018-03-16 10:20] DerKnecht commented on #61
This is my (working) Dockerfile, built on _ruby:latest_:

[code]

[2018-04-05 14:58] DerKnecht commented on #61
To all participants: Thank you for your assistance!
This issue can be closed now if you like to.

[2018-04-08 23:35] bethesque commented on #61
Thanks!

[2018-04-08 23:35] #61 closed

[2018-05-21 15:41] chris-fa opened #68 "What volumes should I mount on my docker-compose to persist data"
I'm deploying pact broker docker but I don't see docs on what volumes should I mount to persist data between container restarts/destroy of pact-broker container. What volume should I mount?

For the postgres container, I assume it's `pgdata:/var/lib/postgresql/data postgres` same as the [container docs](https://hub.docker.com/_/postgres/) say, can we confirm this?

[2018-05-21 21:13] bethesque commented on #68
Yes. There's nothing else stored on the file system.

[2018-05-21 21:13] #68 closed

[2018-06-08 12:08] thrawny opened #69 "Document how to configure the pact broker"
Here is a guide on how to configure the broker;
https://github.com/pact-foundation/pact_broker/wiki/Configuration

For example, I would like to add `http` to `webhook_scheme_whitelist`. There is no information on how to do this when using this docker image. I would rather not fork and change the source code just to chane a config parameter. Is there a bettter way?

[2018-06-10 02:05] bethesque commented on #69
I haven't exposed an environment variable for this yet. I'll add it as soon as I can.

[2018-06-11 11:27] bethesque commented on #69
I've just released 2.22.0-1 with the new environment variables https://github.com/DiUS/pact_broker-docker#webhook-whitelists

[2018-06-22 20:11] signed opened #70 "schema migration table missing in pact-broker:2.23.0-1"
# Pre issue-raising checklist

I have already (please mark the applicable with an `x`):

* [x] Confirmed this is the right place to raise the issue - issues for the Pact Broker application itself should be raised in the [Pact Broker](https://github.com/pact-foundation/pact_broker) project.
* [x] Upgraded to the latest Pact Broker Docker image OR
* [x] Checked the [CHANGELOG](/CHANGELOG.md) to see

[2018-06-22 22:14] bethesque commented on #70
The `LINE 1: SELECT NULL AS "nil" FROM "schema_migrations" LIMIT 1` is normal and expected. The database adapter just logs when a table is not found, and in a new database, the schema_migrations won't be found.

The real error is `uninitialized constant PactBroker::Api::Resources::BaseResource (NameError)` which I cannot reproduce for the life of me! But I know how to fix it, so I've just released

[2018-06-22 22:14] #70 closed

[2018-06-22 22:38] signed commented on #70
Its working fine now. Thank you for the quick fix.

[2018-06-26 15:03] nebez commented on #53
Having the same issue with `latest`, `2.23.1-1`, and `2.23.2-1`

[2018-06-26 15:07] nebez commented on #53
Seems like adding this require:

[code]
To this file in the docker image fixed it: `/home/app/pact_broker/vendor/bundle/ruby/2.4.0/gems/pact_broker-2.23.2/lib/pact_broker/api/resources/verification_triggered_webhooks.rb`

[2018-06-26 21:28] bethesque commented on #53
Thanks. I've released another fix! I can't work out why you get this error consistently, but I can't reproduce it. The only way this can happen is if the `verification_triggered_webhooks.rb` is the very first of the resource files to be loaded, and that's a 1 in 42 (0.02) chance!

[2018-06-26 21:29] #53 closed

[2018-06-27 23:48] bethesque commented on #70
As mentioned in related issue, this is fixed.

[2018-08-20 15:40] chris-fa commented on #60
@wideklev did you figure this out?

[2018-08-20 23:25] bethesque commented on #60
The URLs would need to be modified in more than just the place listed above. I'm not even sure of what would need to be changed for this to work.

[2018-08-27 13:15] davidkgp opened #74 "Pact Broker SSL Certificates for Webhooks"
# Pre issue-raising checklist

I have already (please mark the applicable with an `x`):

* [x ] Confirmed this is the right place to raise the issue - issues for the Pact Broker application itself should be raised in the [Pact Broker](https://github.com/pact-foundation/pact_broker) project.
* [x ] Upgraded to the latest Pact Broker Docker image OR
* [ x] Checked the [CHANGELOG](/CHANGELOG.md) to s

[2018-08-27 13:56] mefellows commented on #74
In the first scenario (verification disabled), an HTTP `400` is unrelated to certificates, are you sure it's not another issue? What does the response contain?

Also see the section in https://github.com/pact-foundation/pact_broker/wiki/Configuration#webhook-whitelists for how to add custom certs to the system.

[2018-09-06 06:15] bethesque commented on #74
Closing due to lack of response - please feel free to reopen with more information if you are still facing this issue @davidkgp

[2018-09-06 06:15] #74 closed

[2018-09-10 13:11] davidkgp commented on #74
@bethesque the issue is solved.The script was not working for me,but would work for a lot of people as I was lacking in few dependencies for the script.But I would like to point out for few users who may have faced a similar issue,the certificate chain(PEM format) for the webhook(in case using a corporate CI) have to be put into the content column of the certificates table in the pact broker datab

[2018-09-10 13:32] davidkgp opened #75 "Webhook Execution Status not visible"
# Pre issue-raising checklist

I have already (please mark the applicable with an `x`):

* [x] Confirmed this is the right place to raise the issue - issues for the Pact Broker application itself should be raised in the [Pact Broker](https://github.com/pact-foundation/pact_broker) project.
* [x] Upgraded to the latest Pact Broker Docker image OR
* [x] Checked the [CHANGELOG](/CHANGELOG.md) to see

[2018-09-11 01:52] bethesque commented on #75
Thanks @davidkgp. Can you please raise this in the Pact Broker repository (as per the first checkbox) as this has nothing to do with the dockerization of the application.

[2018-09-11 01:52] #75 closed

[2018-09-11 08:00] davidkgp commented on #74
Two points I like to be highlighted in the documentation if possible
- Please do not use 'self signed certificate' term as it sometimes misleads,Normally if you are working in a corporate environment,your CI's or gitlabs will have certificates provided by corporate pki.
- At the very core of this approach is that the certificate content has to be in the certificates table,some people may use the s

[2018-09-13 23:45] bethesque commented on #74
What is a better term for the type of certificate @davidkgp? I will add the info about the table.

[2018-09-14 01:42] mefellows commented on #74
That's the very definition of a self-signed certificate. You have your own CA, which you use to sign and then issue your own certificates.

[2018-09-18 18:26] zachariahyoung opened #76 "ERROR: for pact_broker_app_1 Cannot start service broker_app: driver failed programming external connectivity on endpoint pact_broker_app_1"
# Pre issue-raising checklist

I have already (please mark the applicable with an `x`):

* [x ] Confirmed this is the right place to raise the issue - only issues related to the Dockerization of the Pact Broker should be raised here. Issues related to the Pact Broker application itself should be raised in the [Pact Broker](https://github.com/pact-foundation/pact_broker) project.
* [ x] Upgraded to

[2018-10-22 10:21] BookOfGreg opened #79 "Example `docker-compose up` does not start successfully due to passenger/RVM."
# Pre issue-raising checklist

I have already (please mark the applicable with an `x`):

* [x] Confirmed this is the right place to raise the issue - only issues related to the Dockerization of the Pact Broker should be raised here. Issues related to the Pact Broker application itself should be raised in the [Pact Broker](https://github.com/pact-foundation/pact_broker) project.
* [x] Upgraded to t

[2018-10-22 22:57] BookOfGreg commented on #79
Opening another tab and using `curl -v http://localhost:80` or `8080` makes no difference. Do I need to manually trigger the database to setup when using the docker-compose?

Sorry for the daft question, I feel like I child when I can't solve these simple things myself, I'm probably missing something obvious. I really appreciate your time helping me.

[2018-12-20 17:17] nateg-gladly opened #81 "Run application as app user instead of root user?"
We're interested in running the pact broker application as the `app` rather than `root` user in the Docker container. I looked into opening a PR but noticed that this maybe was already implemented based on the Dockerfile:
* files are copied into image chown'd for `app` user: https://github.com/DiUS/pact_broker-docker/blob/master/Dockerfile#L12
* running as `app` user is commented out: https://gith

[2018-12-20 19:39] bethesque commented on #81
I can't remember the full details of why it's the root user, but I think passenger needs root, from memory. Have a read of the documentation https://github.com/phusion/passenger-docker

I'll see if I can find the issue that explains why it's root.

[2018-12-20 20:55] mefellows commented on #81
It should certainly be possible as the app user (passenger [recommends](https://github.com/phusion/passenger-docker#the-app-user) it). I'm not sure why it was commented out, perhaps it's a regression/accident?

[2018-12-20 20:57] bethesque commented on #81
Maybe the issue was that it needed root permissions for something else. I know there was something about the image that needed root. Try using app and see what happens @nateg-gladly

[2019-01-02 21:32] nateg-gladly commented on #81
(Sorry for delayed response) OK I will give it a try in the next few weeks and report back. Thank you!

[2019-01-03 00:34] nateg-gladly opened #82 "runit daemon is shut down after passenger starts & connects to db"
## Software versions
* **pact-broker docker version:** dius/pact-broker:2.27.3-2
* **OS**: Kubernetes

## Issue
We working on setting up pact-broker running in Docker on a Kubernetes cluster, using postgres for the database.

We're running into an issue where after the application starts up, the `runit` daemon is shut down, which causes the entire Docker container to shut down. We've confirmed tha

[2019-01-03 21:55] nateg-gladly commented on #82
Update: the container is being killed externally by kubernetes, since I did not set up the health checker correctly. For future reference, found via: `kubectl describe pod pact-broker-pod`.

Sorry for filing an unrelated issue, thanks anyway! Will close.

[2019-01-03 21:55] #82 closed

[2019-01-29 18:09] stt19 commented on #81
My team is also very interested in using Pact Broker, but due to security concerns do not want to run the application as root, especially as we move towards getting broker on Openshift. From what we can tell, it's that last line "CMD ["/sbin/my_init"]" that needs root. Would it be possible to release an image that doesn't need root, or doesn't have that line?

And regarding the previous comments o

[2019-02-07 06:56] Kobe opened #83 "[question] How to define PostgreSQL slave / failover?"
Hi,

is it possible to define a slave / failover for the Postgres DB?

Greets,

Kobe

[2019-02-08 01:01] bethesque commented on #83
Look at the documentation for the [Sequel](http://sequel.jeremyevans.net/) gem.

[2019-02-08 07:42] Kobe commented on #83
Thanks @bethesque !

[2019-02-08 07:42] #83 closed

[2019-03-11 11:44] patvong commented on #81
@stt19 For openshift you might wanna look into this https://github.com/jaimeniswonger/pact-broker-openshift

[2019-03-11 21:56] bethesque commented on #81
I've raised this issue here: https://github.com/phusion/passenger-docker/issues/250

I think we'll have to find a non-passenger solution to run as non-root, because I have a vague memory of seeing a big long thread about how it's impossible to start passenger as a non-root user because it needs to manage certain processes. However, I can't find that issue any more.

[2019-03-11 21:58] bethesque commented on #81
Ah! I think it's nginx. https://stackoverflow.com/questions/42329261/running-nginx-as-non-root-user

[2019-03-11 22:01] bethesque commented on #81
@stt19 Running on Openshift is already supported: https://github.com/DiUS/pact_broker-docker#running-with-openshift

Can I ask you to find out from your security team how they expect images to run web servers on the default ports without root permissions? I am confused as to how this can happen. Do you run all your servers on ports above 1024?

[2019-03-12 00:17] patvong commented on #81
@bethesque About Nginx, you can setup the configuration file to listen to port 8080 and expose 8080 on the Dockerfile.
See my PR here: https://github.com/DiUS/pact_broker-docker/pull/84

[2019-03-12 00:47] bethesque commented on #81
Maybe we can have a branch of the broker that runs on the different port.

[2019-03-21 14:39] YOU54F commented on #52
Hey up,

I was looking into this using a couple of tools, and noted that the expanded pact-broker image does have a-lot of wasted space, so there is room for improvement. I don't think going down the route of a pure slimmed alpine image is the right way to go, for various reasons as outlined by some above.

Will dig into this when I get more time
<table>
<thead>
<tr>
<th>Image Name</th>
<th>Compre

[2019-03-21 14:41] YOU54F commented on #52
also passenger images now with ubuntu 18.04 so the forced OS upgrade is probably unneccessary. Will get some more time soon to have a play at getting rid of some of the wasted space in the main pact-broker image as a starting point.

[2019-03-21 22:26] bethesque commented on #52
That would be awesome, thanks.

[2019-03-24 14:03] YOU54F commented on #81
with regards to @patvong's solution, you can map the exposed port of the pact broker in the docker-compose file, to port 80 externally

https://github.com/YOU54F/passenger-run-as-app/blob/41e7c232634f291b88236a66fa2a1a661ba9bf8e/docker-compose.yml#L9

or map the port when you run via docker run

https://github.com/YOU54F/passenger-run-as-app/blob/41e7c232634f291b88236a66fa2a1a661ba9bf8e/Dockerfile

[2019-03-24 14:16] YOU54F commented on #34
The OS update is already happening in the docker file.

[code]

[2019-03-24 14:48] YOU54F commented on #52
If we cleanup on the same line as the upgrade, we get a pretty darn efficient image 👌

[code]

[code]

[2019-03-24 14:49] YOU54F commented on #52
baseimage-docker which the main image is built on, do the same here

https://github.com/phusion/baseimage-docker/blob/master/image/bin/install_clean

[2019-03-24 20:17] bethesque commented on #34
@YOU54F I got that update line from the passenger docker docs. Perhaps you could suggest your improved line so that other people don't have the same problem? A PR for this section would be handy: https://github.com/phusion/passenger-docker#upgrading-the-operating-system-inside-the-container

[2019-03-24 21:03] #34 closed

[2019-03-24 21:04] bethesque commented on #52
Awesome. Am doing a new release with the merged PR.

[2019-03-24 22:43] YOU54F commented on #34
Have done mate, nice one 👌

[2019-03-27 05:47] bethesque commented on #52
@YOU54F, @k-ong picked up that you're actually running those commands in the background (`&`), rather than sequentially (`&&`). Here's the corrected syntax.

[code]

Did you end up submitting that PR to the original source? You might want to update it.

[2019-03-27 12:47] YOU54F commented on #52
Good spot @k-ong, my apologies all

I did submit a PR and will update.

& will indeed run in parallel and && will only run the subsequent command if the former passes

[2019-03-31 22:36] bethesque commented on #76
Closing due to lack of activity.

[2019-03-31 22:36] #76 closed

[2019-04-09 07:13] neelofer-appdirect opened #88 "Webhook not triggered with multiple providers after deleting one webhook"
# Pre issue-raising checklist
I have already (please mark the applicable with an `x`):

* [x] Confirmed this is the right place to raise the issue - only issues related to the Dockerization of the Pact Broker should be raised here. Issues related to the Pact Broker application itself should be raised in the [Pact Broker](https://github.com/pact-foundation/pact_broker) project.
* [ ] Upgraded to th

[2019-04-09 07:31] bethesque commented on #88
Thanks. Please close this and raise the issue in the pact-foundation/pact_broker repository (not the docker one). As stated in the first point, this repo is only for the dockerizarion of the application. The issue you have is with the Pact Broker itself.

[2019-04-09 07:38] neelofer-appdirect commented on #88
Sorry about that, I accidentally opened the wrong Github link.

https://github.com/pact-foundation/pact_broker/issues/268

[2019-04-09 07:38] #88 closed

[2019-04-17 15:10] YOU54F opened #89 "Large pacts over 1mb are rejected by nginx config"
Hey,

We have a pact test where the provider service is expecting a base64 encoded PDF to be received in their request. My completed pact contract is 2.6mb and is rejected by nginx config, when attempting to push up to the pact-broker.

[code]

Looking at the nginx docs, the `client_max_body_size` is 1mb

I have been able to get this to work by changing `client_max_body_size` to 10M

`pact_broker-

[2019-04-17 15:15] YOU54F commented on #89
The image I have created with the change in, is published here https://hub.docker.com/r/you54f/pact-broker-nginx. 👍

[2019-04-23 04:28] bethesque commented on #89
Hey, sorry. I only just saw this. Just wondering what, if any, negative implications there might be for increasing it to 10MB?

[2019-04-23 12:40] YOU54F commented on #89
No worries duck,

I'll do some reading up on any potential side-effects, I think setting it too high could open a web-service up to DOS attacks, but with it only being 10mb, I don't think it makes much of an issue.

We have slimmed down the pacts now by using a much smaller encoded base64 string, so our pacts are no longer over 1mb

I've recently been trialling pb with puma (https://github.com/YOU

[2019-04-28 09:44] bethesque commented on #81
Ok, we've released a new version of the pact-broker docker image here: https://hub.docker.com/r/pactfoundation/pact-broker/tags

It now runs without root (and also uses alpine linux and puma instead of passenger phusion). If you'd like to give it a trial run and let me know how you go, that would be great.

[2019-04-28 09:44] #81 closed

[2019-04-28 09:44] #58 closed

[2019-04-28 09:47] bethesque commented on #52
There is a new release of the Docker Pact Broker, now at https://hub.docker.com/r/pactfoundation/pact-broker/tags *98MB compressed*! Try out the `edge` tag. When it's been battle tested for a while, I'll put it out on `latest`. It uses puma and alpine linux instead of passenger phusion.

[2019-04-28 09:47] #52 closed

[2019-04-28 09:47] bethesque commented on #89
I'm thinking this may be redundant now the new puma version is out? Once it's stable, I'll be deprecating this image.

[2019-04-28 09:49] bethesque commented on #89
Oh, and yes, you're the first to raise this!

[2019-04-28 10:19] YOU54F commented on #89
Thanks @bethesque, I’ll trial the new puma based image at work next week and pass back any feedback 👌

[2019-04-28 10:19] #89 closed

[2019-05-16 10:25] tcanavan opened #91 "Cloud Foundry Push dockerized image"
# Pre issue-raising checklist

I have already (please mark the applicable with an `x`): x

* [x] Confirmed this is the right place to raise the issue - only issues related to the Dockerization of the Pact Broker should be raised here. Issues related to the Pact Broker application itself should be raised in the [Pact Broker](https://github.com/pact-foundation/pact_broker) project.
* [x] Upgraded to

[2019-05-16 10:44] mefellows commented on #91
Given this container works on standard Docker environments, this must mean there is something special about CF. We can't be expected to be experts in every runtime, have you done any digging that means you can give us something to look at?

Furthermore, we also now have an "edge" tag available that has a different runtime, it might be worth giving that a try also.

See #90

[2019-05-16 12:10] tcanavan commented on #91
Could it be that our cloud foundry only supports https. Do I need also to install nginx as a reverse proxy?

[2019-05-19 23:34] bethesque commented on #91
This line: `2019-05-16T12:08:48.63+0200 [HEALTH/0] ERR Failed to make TCP connection to port 443: connection refused` suggests that whatever is externally monitoring the instance is doing a healthcheck on port 443. Port 443 isn't configured or exposed on the broker docker image (it's expected that you'll set up your own SSL configuration).

[2019-05-19 23:34] bethesque commented on #91
So, yes, you'll need to set up nginx yourself.

[2020-01-21 04:07] bethesque opened #94 "Expose postgres sslmode via environment variable"
See SSL mode in https://github.com/pact-foundation/pact-broker-docker#getting-started

[2020-07-07 00:14] bethesque opened #98 "Upgrade to latest version of Ruby Passenger docker image"

[2020-07-23 12:21] Dutzu commented on #68
@bethesque Could you also mention what paths need to be mounted as volumes for working with sqlite?

[2020-07-25 00:01] bethesque commented on #68
Where ever you put your Sqlite database. Only you know that! It's the value that you'll have supplied to the`PACT_BROKER_DATABASE_NAME`.

[2020-07-27 11:48] Dutzu commented on #68
Awesome. That information would have been nice to have in the readme.

After digging around and poking through the docker image I found that the app itself is under `/home/app/pact_broker` and I had used the value provided in the readme as the `PACT_BROKER_DATABASE_NAME` and my problem was that it's a file that doesn't exist and will be created upon first startup and it is in the folder where the

[2020-07-27 23:27] bethesque commented on #68
Can I ask what problem you're trying to solve? It's not normal to use an SQLite database for ongoing usage for this application. It's only used for running the test suites, or starting up the broker for demo purposes.

[2020-07-28 06:35] Dutzu commented on #68
We've been using it like this for over a year now, without a problem, until for some reason the container restarted a couple of times and we lost contracts published and it was annoying to have to re-run all consumers again to re-publish all the contracts.

I get that this is not the way it was intended, and would love to hear what are the reasons a postgres or mysql would be mandatory......but up

[2020-07-28 06:46] mefellows commented on #68
I guess you could look at https://github.com/pact-foundation/pact_broker-serverless and use it with EFS (https://aws.amazon.com/blogs/compute/using-amazon-efs-for-aws-lambda-in-your-serverless-applications/)?

For completeness, there is also https://pactflow.io/ (but I understand that may not be an option for you).

[2020-07-31 23:13] bethesque commented on #68
Well, you've made me re-evaluate my thoughts on using SQLite for prod. I just did some googling and came across this page https://www.sqlite.org/whentouse.html

I guess if your usage is quite light, then the likelihood of having concurrent transactions is quite low. I've been using it as the test database since it was first written, and I know that on start up, I occasionally get "file locked" err

[2020-08-01 00:14] mefellows commented on #68
I've found tools like terraform have exposed concurrency issues when using pact broker backed by sqllite which makes sense given it is going to do a lot of writing. Choose what makes sense for you I guess!

[2020-08-19 02:25] mali-conductor opened #100 "Pact Broker fails to connect to Aurora PostgreSQL database"
# Pre issue-raising checklist

I have already (please mark the applicable with an `x`):

* [x ] Confirmed this is the right place to raise the issue - only issues related to the Dockerization of the Pact Broker should be raised here. Issues related to the Pact Broker application itself should be raised in the [Pact Broker](https://github.com/pact-foundation/pact_broker) project.
* [ ] Upgraded to

[2020-08-19 02:40] mefellows commented on #100
This host value looks empty to me, is that just an artifact of the way you've raised the ticket?

I.e. PACT_BROKER_DATABASE_HOST= has no value

[2020-08-19 11:29] mali-conductor commented on #100
@mefellows I removed the hostname from the logs, but it is getting set properly.

[2020-08-19 11:32] mali-conductor commented on #100
@mefellows do we know if Aurora postgres is supported and works with the adapter postgres or foes it need a different adapter?

[2020-08-19 12:00] mefellows commented on #100
Aurora postgres is wire compatible with postgres so as my understanding goes it should work.

One way to test is to setup a standard postgres RDS database and see if you have the same issue.

Then you could rule out things like security groups or VPC routes

[2020-08-19 17:58] mali-conductor commented on #100
Thanks for your help @mefellows. Yes it turned out to be a security group issue.
Closing the ticket.

[2020-08-19 17:58] #100 closed

[2020-08-26 06:22] bethesque commented on #68
I've been getting this error a LOT on my local development machine recently. I don't know how this doesn't happen in production!

[code]

[2020-08-27 11:23] Dutzu commented on #68
well....context might be different. On your local machine might there by other software that would get a lock on that file? antivirus, IDE, etc....

[2020-08-27 23:50] bethesque commented on #68
It happens when the React UI recompiles and it refreshes in the browser, so a bunch of requests fire off at the same time. Now I think about it, you're on the old server side rendered UI, so you wouldn't get situations with a heap concurrent requests from a browser. That probably explains it.

[2020-10-05 14:51] pniederlag opened #102 "docker image does not create/seed sqlite database out of the box"
# Pre issue-raising checklist

I have already (please mark the applicable with an `x`):

* [X] Confirmed this is the right place to raise the issue - only issues related to the Dockerization of the Pact Broker should be raised here. Issues related to the Pact Broker application itself should be raised in the [Pact Broker](https://github.com/pact-foundation/pact_broker) project.
* [X] Upgraded to t

[2020-10-05 22:40] bethesque commented on #102
Sqlite is only to be used inside the container for demo purposes. There is no production use case for this scenario. Try putting the database in the /tmp directory, as the home directory is probably not writeable for security purposes.

[2020-10-06 15:59] pniederlag commented on #102
thx for your feedback @bethesque

I understand the container is intended for production use and certainly sqlite is not meant to be used in production environments.

please consider also people using this image for evaluation purposes, where sqlite in general is a pretty good choice as it requires way less work for setup und persistence, performance and alike are neglectible when spinning up a con

[2020-10-06 23:18] bethesque commented on #102
I think most people use the docker-compose file, or mount a directory from a local volume, which is why this hasn't come up before. I've seen your note for an update in the readme, thanks.

[2020-10-06 23:18] #102 closed

[2020-12-11 22:37] mefellows opened #104 "Chore: migrate away from TravisCI"
TravisCI (org) is dropping support for OSS builds at the end of this month, meaning they must be transferred to travis-ci.com, which uses a credit system. Builds may fail (and already are) if the number of credits is exhausted within the month.

We are recommending switching to GH Actions, but the choice of CI provider is up to the project maintainer.

See also:

https://mailchi.mp/3d439eeb1098/tr

[2021-02-08 02:21] mefellows opened #105 "Multiple vulnerabilities present in dius/pact-broker image v2.68.1.0"
Using trivvy to scan this container presents the following vulnerabilities:

[code]

[2021-02-08 06:12] bethesque commented on #105
Just a couple. Looks like I've added trivy to the pact-foundation one but not the dius one yet.

[2021-02-08 06:47] mefellows commented on #105
I was going to raise an issue for that - but if you're happy I'll just add it straight in.

[2021-02-12 00:17] bethesque commented on #105
So, I'm not sure how to get rid of the vulnerabilities. They're all OS level vulnerabilities, not Ruby gem ones. We're on the latest version of passenger phusion for Ruby 2.7, and we're already doing:

[code]

See: https://github.com/DiUS/pact_broker-docker/runs/1883720574?check_suite_focus=true#step:4:159

What else can we do to force an upgrade of EVERYTHING?

[2021-02-12 06:11] mefellows commented on #105
You managed to at least remove all of the HIGH vulnerabilities and over 100 MEDIUM - so we're on track, but Phusion does at least agree there are problems with the base image:
![Screen Shot 2021-02-12 at 5 00 56 pm](https://user-images.githubusercontent.com/53900/107735473-e2388480-6d53-11eb-8f81-187cf7a599a9.png)

(via: http://phusion.github.io/baseimage-docker/)

Jokes aside, according to the tr

[2021-02-14 22:15] bethesque commented on #105
I've updated it to `trivy filesystem --severity HIGH,CRITICAL --ignore-unfixed` for now so we can actually get a release out.

[2021-02-15 00:35] bethesque commented on #105
That seems to have done the trick https://github.com/DiUS/pact_broker-docker/runs/1899455773?check_suite_focus=true#step:3:851

[2021-02-15 01:06] mefellows commented on #105
nice one, thanks Beth. Let's leave this open so if somebody comes along they can see it. It will no doubt fail when there is a fix for them, so we can close it off then.

[2021-10-13 07:45] dpittner opened #110 "version 2.88.0.0 doesn't use value of PACT_BROKER_DATABASE_PORT"
# Pre issue-raising checklist

I have already (please mark the applicable with an `x`):

* [x] Confirmed this is the right place to raise the issue - only issues related to the Dockerization of the Pact Broker should be raised here. Issues related to the Pact Broker application itself should be raised in the [Pact Broker](https://github.com/pact-foundation/pact_broker) project.
* [x] Upgraded to t

[2021-10-15 03:21] bethesque commented on #110
Fixed in 2.89.0. Please update to 2.89.0.0

[2021-10-15 03:21] #110 closed